<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<title>Todo App</title>
<link href="../css/bootstrap.min.css" rel="stylesheet" />
<link rel="icon" type="image/png" href="../img/brand.jpg" />
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<div class="navbar-header"></div>
		</div>
	</nav>
	<div class="container-fluid centerdiv">
		<div class="row centerdiv">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<form class="navbar-form navbar-left" role="search" action="#" th:action="@{/task/search}"
					th:object="${search}" method="post">
					<div class="form-group">
						<input type="text" th:field="*{text}" class="form-control" placeholder="recherche" />
					</div>
					<button type="submit" class="btn btn-default">envoyer</button>
				</form>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-8"></div>
			<a href="/task/add"><button type="button"
					class="btn btn-primary navbar-btn">add new task</button></a>
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<table class="table">
					<thead class="myborderraduis">
						<tr class="teal-text">
							<th>Name</th>
							<th>Description</th>
							<th>Complete</th>
							<th>Actions <a class="fa fa-plus text-xs-right"
								style="color: #FFFFFF; text-align: right;" href="/task/add">Add</a></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="task : ${tasks}">
							<td th:text="${task.name}"></td>
							<td th:text="${task.description}"></td>
							<td th:text="${task.iscomplete}"></td>
							<td><a th:href="@{/end/{id}(id=${task.id})}"
								class="blue-text"><button type="button" class="btn btn-info">Terminer</button></a>
								<a th:href="@{/update/{id}(id=${task.id})}"><button
										type="button" class="btn btn-primary">modifier</button></a> <a
								th:href="@{/delete/{id}(id=${task.id})}"><button
										type="button" class="btn btn-danger">delete</button></a></td>
						</tr>
					</tbody>

				</table>
			</div>

		</div>




	</div>
	<script src="../js/jquery.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/style.js"></script>
</body>
</html>